html {
    font-family: Roboto, sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

.left-col-container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 20px;
}